{{#paper-content}}
  {{#paper-list}}
    {{#paper-item}}
      {{paper-icon "dialpad"}}
      <p>{{model.id}}</p>
    {{/paper-item}}
    {{#paper-item}}
      {{paper-icon "info"}}
      <p>{{model.full_name}}</p>
    {{/paper-item}}
    {{#paper-item}}
      {{paper-icon "map"}}
      <p>{{model.address_fr}}</p>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
