{{! <div class="point-list-scroller animated fadeInLeft"> }}
  <div class="pull-left">
    <span class="btn btn-warning media-object">
      {{id}}
    </span>
  </div>

  <h4 class="media-heading modal-title media">
    {{fullName}}
  </h4>
  <p class="lead">
    {{#if isFirst}}
      <a {{action goToPreviousPoint}}>All points</a>
    {{else}}
      <a {{action goToPreviousPoint}}>Previous point</a>
    {{/if}}
    <a {{action goToNextPoint}}>Next point</a>
  </p>

  <p class="lead">{{addressFr}} -- {{addressNl}}</p>

  {{#if notes}}
    <h5 class="muted">Notes:</h5>
    <p>{{notes}}</p>
  {{/if}}

  <div class="btn-group btn-group-justified">
    <a href="tel: 0032 2 800 36 36" class='btn btn-warning hidden-lg'>
      <i class="icon-phone"></i>
      Call Now
    </a>
    <a {{action findItinirary}} class='btn btn-default'>
      Find Itinary
      <i class="icon-circled-right"></i>
    </a>
  </div>

{{! </div> }}
