<div class="point-nav row">
  <a {{action goToPreviousPoint}} class='point--nav--arrows point--nav--arrows-prev col-xs-5'>
    <i class="icon-chevron-left"></i>
  </a>
  <a {{action goToPointsList}} class='points--back-button col-xs-2'>
    <i class="icon-numbered-list"></i>
  </a>
  <a {{action goToNextPoint}} class='point--nav--arrows point--nav--arrows-next col-xs-5'>
    <i class="icon-chevron-right"></i>
  </a>
</div>

<header class="point--box point--box-centered">
  <div class="point--box--body">
    <div class="point--detail--number">
      <span class="btn btn-warning">
        {{id}}
      </span>
    </div>

    <h4 class="media-body point--details--info">
      {{fullName}}
      {{#if distanceFromUser}}
        <br>
        <small>{{distanceFromUser}}m</small>
      {{/if}}
    </h4>
    <div class="clearfix"></div>
  </div>
</header>

<div class="hidden-lg">
  <section class="point--box point--actions btn-group btn-group-justified">
    <a {{action callCollectocallCollecto}} class='btn btn-warning'>
      <i class="icon-phone"></i>
      Call Now
    </a>
    <a {{action findItinirary}} class='btn btn-default'>
      Find Itinerary
      <i class="icon-circled-right"></i>
    </a>
  </section>
</div>


<section class="point--box">
  <div class="point--box--body">
    <p class="lead">{{addressFr}} -- {{addressNl}}</p>
    {{#if notes}}
      <h5 class="muted">Notes:</h5>
      <p>{{notes}}</p>
    {{/if}}
  </div>
</section>

<div class="visible-lg">
  <section class="point--box">
    <header class='point--box--header'>
      <h5>
        Number to call:
      </h5>
    </header>
    <div class="point--box--body text-lead">
      <h4>+32 2 800 36 36</h4>
    </div>
  </section>
</div>

<section class="point--box">
  <header class='point--box--header'>
    <h5>
      Next available Pickup Time:
    </h5>
  </header>
  <div class="pickup-time-labels point--box--body">
    {{#each item in pickupTime}}
      <div class="label label-default">{{item}}</div>
    {{/each}}
  </div>
</section>

{{#if routeInstructions}}
  <section class="point--box">
    <header class='point--box--header'>
      <h5>
        Walking Directions:
      </h5>
    </header>
    <div class="point--box--body">
      {{#each routeInstruction in routeInstructions}}
        <div class='instruction'> {{routeInstruction}}</div>
      {{/each}}
    </div>
  </section>
{{/if}}

<div class="visible-lg point--box point--actions">
  <a {{action findItinirary}} class='btn btn-default btn-block btn-lg'>
    Find Itinerary
    <i class="icon-circled-right"></i>
  </a>
</div>

<div class="clearfix"></div>
