<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header media">
        <div class="pull-right">
          <button type="button" {{action closeModal}} class="btn btn-default" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="pull-left">
          <span class="btn btn-warning media-object">
            {{id}}
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading modal-title media">
            {{fullName}}
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <p class="lead">{{address_fr}} -- {{address_nl}}</p>
        {{#if notes}}
          <h5 class="muted">Notes:</h5>
          <p>{{notes}}</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        <div class="btn-group btn-group-justified">
          <a href="tel: 0032 2 800 36 36" class='btn btn-warning hidden-lg'>
            <i class="icon-phone"></i>
            Call Now
          </a>
          <a {{action findItinirary}} class='btn btn-default'>
            Find Itinary
            <i class="icon-circled-right"></i>
          </a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
