{{#with point}}
  <div {{action showDetails point}}>
    <div class="col-1">
      <div class="row">
        <span class="btn btn-warning col-12">
          {{id}}
        </span>
      </div>
    </div>
    <div class="col-11 point-list--item--header">
      <h4>
        {{name_fr}}
      </h4>
      <span class="point-list--item--header--distance">{{distanceFromUser}} m</span>
    </div>
  </div>
{{/with}}

<a class='point-list--center-map btn btn-default' {{action centerMap point}}>
  <i class="icon-compass"></i>
</a>
