{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button action=(transition-to "index")}}
      {{paper-icon "arrow-back"}}
      Back
    {{/paper-button}}
  </div>
{{/paper-toolbar}}
{{#paper-content flex=true scroll-y=true layout-padding=true}}
  {{places-autocomplete-field updatePositions=(action 'updatePositions')}}
  {{#if hasSortedAdresses}}
    <h3>Recent searhes</h3>
    {{#paper-list}}
      {{#each sortedAdresses as |adress|}}
        {{#paper-item class="md-3-line" action='updatePositions' param=adress target=this}}
          {{paper-icon "home"}}
          <div class="md-list-item-text">
            {{adress.formatted_address}}
          </div>
          {{/paper-item}}
        {{paper-divider}}
      {{/each}}
    {{/paper-list}}
  {{/if}}
{{/paper-content}}
