!!! 5
= html_tag :class => "no-js", :lang => "#{I18n.locale}"
%head
  %title
    = "Mycollecto - An unofficial application for Collecto taxi in Brussels"
  %meta{name: 'description', content: "The quickest way to find nearby collecto taxi points in Brussels" }
  %meta{name: 'keywords', content: 'collecto, collecto taxi, brussels, bruxelles, carte points collectos, points collecto, collecto punts'}
  %meta{charset: "utf-8"}/
  %meta{name: "google-site-verification", content: "He-IZgvGomVoNNlv4ufr1tEARLvKeyCAies2To0DQVQ"}
  %meta{content: "Boris Rorsvort", name: "author"}
  %meta{content: "True", name: "HandheldFriendly"}
  %meta{content: "Mycollecto", name: "apple-mobile-web-app-title"}/
  %meta{content: "on", "http-equiv" => "cleartype"}
  %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
  %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
  %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
  %link{href: "/favicon.ico", rel: "shortcut icon"}/
  %link{href: "http://www.mycollecto.be", rel: 'canonical'}
  %link{href: "/assets/icons/h/apple-touch-icon.png", rel: "apple-touch-icon"}/
  %link{href: "/assets/icons/m/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "72x72"}/
  %link{href: "/assets/icons/h/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "114x114"}/
  %link{href: "/assets/icons/h/apple-touch-icon.png", rel: "apple-touch-icon-precomposed"}/
  %link{href: "/assets/icons/m/apple-touch-icon.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
  %link{href: "/assets/icons/h/apple-touch-icon.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
  %link{href: "/assets/icons/startup_pages/ipad-748-landscape.jpg", media: "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)", rel: "apple-touch-startup-image"}/
  %link{href: "/assets/icons/startup_pages/ipad-748.jpg", media: "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)", rel: "apple-touch-startup-image"}/
  %link{href: "/assets/icons/startup_pages/iphone-320.jpg", media: "screen and (max-device-width: 320px)", rel: "apple-touch-startup-image"}/
  = javascript_include_tag "application"
  %script{src: "http://builds.emberjs.com/release/ember.js"}
  = javascript_include_tag "mycollecto"
  
  = csrf_meta_tag
  = stylesheet_link_tag "application"

  = yield :stylesheets
  = yield :head

  = render partial: 'layouts/mixpanel'

  /[if lt IE 9]
    %script{:src => "http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"}
